/***** BASE STYLES *****/
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html{
    font-size:16px;
}

body{
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    color:#000;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

header, footer, main, section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


/***** HEADER *****/
.rogue-title{
    padding-top: 2em;
    border-bottom: 3px solid #77a466;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header h1{
    color: #000;
    font-size: 1.75em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 1em;
}

header h1 span{
    color:#77a466;
}

nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 0.5em;
    padding: 0.75em;
}

nav ul li a{
    color:#77a466;
    font-size: 0.75em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

/***** GALLERY *****/ 

#gallery-image{
    width: 100%;
    border-top: 3px solid #77a466;
    border-bottom: 3px solid #77a466;
    margin: 1em 0;
}

/***** ABOUT *****/
#top, #bottom{
    margin: 1.5em 0;
}

#about h2{
    color:#77a466;
    font-size:  1.13em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5em 0;
}

#about p{
    color:#000;
    font-size: 1em;
    line-height: 2em;
    padding: 0.5em 0;
}


/***** BOTTOM SECTION *****/

#bottom h3{
    color: #000;
    font-size: 0.75em;
    padding: 2em 0;
    text-transform: uppercase;
}

/***** MENU *****/

ul li{
    color: #77a466;
    font-size: 1em;
    list-style-type: none;
    line-height: 1.75em;
    padding: 0.5em 0;
}

#menu, #reviews{
    border-right: 1px solid #dedbdc;
}

/***** FOOTER *****/
footer{
    text-align:center;
    border-top: 1px solid #dedbdc;
}

footer h2{
    font-size: 0.75em;
    text-transform: uppercase;
    padding: 1em;
}

footer h2 span{
    color: #77a466;
    font-family: 'Dancing Script', serif;
    font-style: italic;
    font-weight: lighter;
    text-transform: lowercase;
}

/***** FOR TABLETS *****/

@media (min-width:641px) and (max-width: 768px) {
    /****** HEADER ******/
    header h1{
        font-size: 2.25em;
    }

    nav ul li a{
        font-size: 1em;
    }
}

/****** FOR LAPTOPS, DESKTOP ******/
@media (min-width:1200px) and (max-width: 2560px) {
html, body{
    margin: 0 1.25em;
    padding: 0 0.3125em;
}

.container {
    width: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
}

.rogue-title{
    float: left;
    padding: 0;
    width: 50%;
    border-bottom: none;
    display: flex;
    justify-content: flex-start;
}

.nav-title{
    float: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
    padding-left: 1em;
}

#top{
    margin-top: 0.25em;
}
.section-one, 
.section-two,
.section-three{
    width: 33%;
    float: left;
    border-top: 1px solid #dedbdc;
}

.section-two, .section-three {
    padding-left: 10px;
}
}